<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC_zvGpOeQjMKNCYqzKZjrqw9ZnpuUoYa8</string>
	<key>GCM_SENDER_ID</key>
	<string>126006604988</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pe.cibertec.InstaCloneSab</string>
	<key>PROJECT_ID</key>
	<string>instaclone-7ea1a</string>
	<key>STORAGE_BUCKET</key>
	<string>instaclone-7ea1a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:126006604988:ios:60c1cd1cb1ea0f29bb8cb9</string>
</dict>
</plist>